@font-face {
	font-family: "idk";
	src:url("fonts/NovaMono-Regular.ttf");
}
.bottom_bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	border-top: #fff 3px solid;
}
.bar_link {
	color: #fff;
	text-decoration: none;
	float: left;
	padding: 10px 20px;
	font-size: 20px;
}
.bar_link.active {
	color: #fff;
}
.bar_link:hover {
	color: #fff;
	background-color: #000;
}
body {
	font-family: "idk";
	background-color: #000;
}