@font-face {
	font-family: "idk";
	src:url("fonts/NovaMono-Regular.ttf");
}
.bottom_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	border-top: #fff 3px solid;
	z-index: 100;
	margin: 0
}
.bar_link {
	color: #fff;
	text-decoration: none;
	float: left;
	padding: 10px 20px;
	font-size: 20px;
}
.bar_link.active {
	color: #fff;
}
.bar_link:hover {
	color: #fff;
	background-color: none;
}
.bar_link:visited {
	color: #fff;
}
body {
	font-family: "idk";
	background-color: #000;
	padding-bottom: 50px;
	margin: 0;
	min-height: 100vh;
}
html {
    margin: 0;
    padding: 0;
    height: 100%; 
}
.titles {
	color:#fff;
	padding: 20px 50px 75px 50px;
}
.title {
	font-size: 75px
}
.subtitle {
	font-size: 50px;
}
.title_link {
	color: #fff;
	text-decoration: none;
}
.title_link.active {
	color: #fff;
}
.title_link:hover {
	color: #fff;
	background-color: #000;
}
.title_link:visited {
	color: #fff;
}
.project_container {
	padding-left: 50px;
	padding-right: 50px;
}
.projects {
	border: #fff 3px solid;
	width: 100%;
}
.project_m, .project_c {
	padding: 10px;	
	width: 50%;
	vertical-align: top;
}
.project_m {
	border-right: #fff 3px solid;
}
.project_link {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
}
.project_link.active {
	color: #fff;
}
.project_link:hover {
	color: #fff;
	background-color: none;
}
.project_link:visited {
	color: #fff;
}
.project_disc {
	color: #fff;
	font-size: 20px;
}
.project {
	padding-bottom: 15px;
}
.header_container {
	width: 100%;
}
.headers {
	width: 50%;
}